/* .playerr:hover {
  cursor: pointer;
  background-color: red;
} */

.guard:hover {
  cursor: pointer;
  background-color: blue;
}

.health:hover {
  cursor: pointer;
  background-color: red;
}

.accumulate:hover {
  cursor: pointer;
  background-color: yellow;
}

.guard {
  background-color: #007bff;
}
  
.health {
  background-color:chartreuse;
}

.accumulate {
  background-color:darkgoldenrod;
}

.myPlayer {
  background-color: aqua;
}

.dead {
  background-color: brown;
}

.winner {
  background-color: greenyellow;
}

.playerName {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.player-columns {
  display: flex;
}

.player-turn {
  background-color:#007bff;
}