.guard {
  background-color: #007bff;
}
  
.health {
  background-color:chartreuse;
}

.accumulate {
  background-color:darkgoldenrod;
}

.guard:hover {
  cursor: pointer;
  background-color: blue;
}

.health:hover {
  cursor: pointer;
  background-color: red;
}

.playerr.player-1 .accumulate:hover {
  cursor: pointer;
  background-color: yellow;
}

.playerr.player-1 .guard:hover{
background-color: green;
}

.playerr.player-1 .guard{
  background-color: aquamarine;
}

.playerr.player-1 .health:hover {
  cursor: pointer;
  background-color:chartreuse;
}

/* =================================================================== */
/* not cards CSS */
.myPlayer {
  background-color: aqua;
}

.dead {
  background-color: brown;
}

.winner {
  background-color: greenyellow;
}


.player-columns {
  display: flex;
}

