
/* .bank {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 100px;
  right: 0;
  z-index: 10;
}

.bank-value {
  position: absolute;
  font-family: "Houschka Rounded";
  right: -30px;
  font-weight: bold;
  font-size: 12px;
  color: #96e296;
}

.bank-value::after {
  content: "$";
}

.v-10 {
  top: -2px;
  right: -2px;
  background-color: crimson;
}

.v-5 {
  top: 15px;
  right: 5px;
  background-color: goldenrod;
}

.v-1 {
  top: 22px;
  left: -10px;
  background-color: #444;
}

.mise {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  width: 60px;
}

.mise-value {
  position: absolute;
  font-family: "Houschka Rounded";
  right: -30px;
  font-weight: bold;
  font-size: 12px;
  color: #96e296;
}

.mise-value::after {
  content: "$";
}

[class^="jeton-"] {
  position: absolute;
} */

/* .card2 {
  height: 70px;
  width: 60px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  background-color: white;
  font-family: "Houschka Rounded";
}

.card2.figures-P, .card.figures-C {
  color: #515260;
}

.card2.figures-H, .card.figures-D {
  color: #EC6E69;
}

.card2 h1 {
  font-size: 10px;
  text-align: center;
  position: absolute;
  margin: 0;
}

.card2 h1:first-child {
  top: 5px;
  left: 5px;
}

.card2 h1:last-child {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.card2 .figures {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card2 .figures.P {
  background-position: 0 0;
}

.card2 .figures.D {
  background-position: 20px 0;
}

.card2 .figures.C {
  background-position: 20px 20px;
}

.card2 .figures.H {
  background-position: 0 20px;
} */
