.game-page {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-template-rows: repeat(3, 1fr); /* Adjust the number of rows as needed */
  gap: 20px;
  width: 800px; /* Adjust the table width as needed */
  height: 800px; /* Adjust the table height as needed */
}

.card-deck {
  grid-column: 2 / 3; /* Center the card deck in the middle column */
  grid-row: 2 / 3; /* Center the card deck in the middle row */
  display: flex;
  align-items: center;
  justify-content: center;
}

.someData {
/* make the text big and bold */
  font-size: 30px;
  font-weight: bold;
}
