.game-page{
  background-color: green;
  justify-content: center;
  align-items: center;
}

.player{
  margin: 20px;
}

.alive{
  background-color: rgb(188, 184, 184);
}
.dead{
  background-color: brown;
}
 .player-columns{
   display:inline-block;
 }


.playerName{
  font-size: 20px;
  font-weight: bold;}

  .someData{
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
    margin: 10px;
    background-color: black;
    
  }