.btn{
  background-color: blue;
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

/* change this to module.css?? */